.nav-link {
  color: $title-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $time-cubic;

  &:hover,
  &:focus,
  {
    color: $active-color;
    transition: color $time-cubic;
  }

}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}


.nav{
  display: inline-flex;
  flex-direction: row;

  .nav-line {
    margin-right: 50px;
  }

  .nav-line:last-child{
    margin-right: 0px;
  }

}

.nav-link.active {
  color: $active-color;
  position: relative;

  &::after {
    content: '';
    @media screen and (min-width: 768px) {
      position: absolute;
      left: 0;
      margin-top: 29px;
   
      display: block;
      width: 100%;
      height: 4px;
      background-color: $bg-button-active;
      border-radius: 2px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 27px;
    }
  }
}

.contacts-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }

  .contacts-line {
    @media screen and (min-width: 768px) {
      margin-top: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 50px;
      margin-top: 0px;
    }
  }

  .contacts-line:first-child {

    @media screen and (min-width: 768px) {
      margin-top: 0px;
    }

    margin-left: 0px;
  }
}

.contacts-link {
  color: $link-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $time-cubic;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    color: $active-color;
    transition: color $time-cubic;
  }

  @media screen and (min-width: 768px) {
    justify-content: left;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.icon-contacts {
  display: none;

  @media screen and (min-width: 480px) {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}
